body{
    background-color: rgb(17, 17, 17);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div{
    background-color: black;
    margin-left: 400px;
    margin-right: 400px;
    padding: 10px;
}

input{
    background-color: rgb(54, 54, 54);
    color: white;
    border: none;
    padding: 10px;
    padding: 5px;
    width: 500px;
}

button{
    background-color: white;
    color: black;
    border: none;
    padding: 5px;
    margin-top: 6px;
}

h1{
    font-size: 50px;
    padding: 0px;
    color: black;
    margin: 0px;
    text-align: center;
}

h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

p{
    font-weight: bold;
    text-align: center;
    font-size: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    animation-name: seizure1;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    text-transform: uppercase
}

#sign, #sign2{
    font-weight: lighter;
    font-family: 'Gill Sans';
    text-align: center;
    font-size: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    animation-name: seizure2;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    text-transform: uppercase
}

@keyframes seizure1 {
    11.11% {color:red; background-color: #00ffff; left:0px; top:0px;}
    22.22%  {color:orange; background-color: #005aff; left:200px; top:0px;}
    33.33%  {color:yellow; background-color: #0000ff; left:200px; top:200px;}
    44.44%  {color:lime; background-color: #ff00ff; left:0px; top:200px;}
    55.55% {color: turquoise; background-color: #bf1f2f; left:0px; top:0px;}
    66.66% {color: blue; background-color: #ffff00; left:0px; top:0px;}
    77.77% {color: blueviolet; background-color: #75d41d; left:0px; top:0px;}
    88.88% {color: hotpink; background-color: #00964b; left:0px; top:0px;}
    100% {color:red; background-color: #00ffff; left:0px; top:0px;}
}

@keyframes seizure2 {
    11.11% {background-color:red; color: #00ffff; left:0px; top:0px;}
    22.22%  {background-color:orange; color: #005aff; left:200px; top:0px;}
    33.33%  {background-color:yellow; color: #0000ff; left:200px; top:200px;}
    44.44%  {background-color:lime; color: #ff00ff; left:0px; top:200px;}
    55.55% {background-color: turquoise; color: #bf1f2f; left:0px; top:0px;}
    66.66% {background-color: blue; color: #ffff00; left:0px; top:0px;}
    77.77% {background-color: blueviolet; color: #75d41d; left:0px; top:0px;}
    88.88% {background-color: hotpink; color: #00964b; left:0px; top:0px;}
    100% {background-color:red; color: #00ffff; left:0px; top:0px;}
}